.cToolBarText{text-decoration:none;margin-right:0px;}
.cToolBarIcon{width:28px;height:28px;vertical-align: middle;}
.cToolBarIconInline{width:32px;height:32px;vertical-align: middle;}
.cToolBarSpanRight{float:right}