.collapse{position:relative;height:0;overflow:hidden;-webkit-transition:height 0.35s ease;-moz-transition:height 0.35s ease;-o-transition:height 0.35s ease;transition:height 0.35s ease;border-radius:10px;}.collapse.in{height:auto;}
.accordion{margin-bottom:10px;}
.accordion-group{margin-bottom:2px;border:0px solid;}
.accordion-heading{border-bottom:0;border-radius:10px;}
.accordion-heading .accordion-toggle{display:block;padding:8px 15px;font-weight: bold;}
.accordion-toggle{cursor:pointer;}
.accordion-inner{padding:9px 9px;border-top:0px solid;}